
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="wrapper">
        <nav class="nav">
            <div class="nav-logo">
                <p>ANCFCC</p>
            </div>
            <div class="nav-button">
                <button routerLink="/login" class="btn white-btn" id="loginBtn" onclick="login()">Se Connecter</button>
                <button routerLink="/register" class="btn white-btn" id="registrationBtn" onclick="register()">S'inscrire</button>
            </div>
        </nav>
        <div class="register-container">
            <div class="top">
                <header>Password Reset</header>
                <div class="icon">
                    <i class="fas fa-unlock-alt fa-4x"></i>
                </div>
                <span> Un lien de réinitialisation du mot de passe sera envoyé à votre adresse e-mail pour réinitialiser votre mot de passe. Si vous ne recevez pas d'e-mail dans quelques minutes, veuillez réessayer. </span>
            </div>
            <form [formGroup]="resetForm" (ngSubmit)="resetPassword()">
                <div class="input-box">
                    <input class="input-field" type="email" id="email" placeholder="E-mail" formControlName="email"
                    [ngClass]="{'invalid-input-field': resetForm.get('email')?.invalid && (resetForm.get('email')?.dirty || resetForm.get('email')?.touched || isSubmitted)}">
                    <i class="fa fa-envelope"></i>
                </div>
                
                <div class="input-row">
                    <div class="input-box">
                        <input type="submit" class="submitRetour" value="Retour" (click)="retour()">
                    </div>
                    <div class="input-box">
                        <input type="submit" class="submit" value="Reset Password">
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
