<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'> -->

    <title>Login & Registration</title>    
</head>
<body>
    <div class="wrapper">
        <nav class="nav">
            <div class="nav-logo">
                <p> ANCFCC </p>
            </div>
            <div class="nav-button">
                <button routerLink="/login" class="btn white-btn" id="loginBtn" onclick="login()">Se Connecter</button>
                <button routerLink="/register" class="btn white-btn" id="registrationBtn" onclick="register()">S'inscrire</button>
            </div>
        </nav>
      <!-------------------Form box-------------------------->
      <div class="form-box">
<!----------registration from--------->
<form [formGroup]="registerForm" (ngSubmit)="onSubmitRegister()" (click)="openVerificationDialog()">
  <div class="register-container" id="register">
    <div class="top">
      <span>Avoir un compte? <a routerLink="/login" onclick="login()">Se Connecter</a></span>
      <header>S'inscrire</header>
    </div>

    <div class="two-forms">
      <div class="input-row">
        <div class="input-box">
          <input type="text" class="input-field" placeholder="Nom" formControlName="nom"
          [ngClass]="{'invalid-input-field': registerForm.get('nom')?.invalid && (registerForm.get('nom')?.dirty || registerForm.get('nom')?.touched || isSubmitted)}">
          <i class="fa fa-user"></i>
        </div>


        <div class="input-box">
          <input type="text" class="input-field" placeholder="Prénom" formControlName="prenom"
          [ngClass]="{'invalid-input-field': registerForm.get('prenom')?.invalid && (registerForm.get('prenom')?.dirty || registerForm.get('prenom')?.touched || isSubmitted)}">
          <i class="fa fa-user"></i>
        </div>



      </div>
      <div class="input-box">
        <input type="text" class="input-field" placeholder="Nom d'utilisateur" formControlName="username"
        [ngClass]="{'invalid-input-field': registerForm.get('username')?.invalid && (registerForm.get('username')?.dirty || registerForm.get('username')?.touched || isSubmitted)}">
        <i class="fas fa-at"></i>
      </div>


      <div class="input-box">
        <input type="email" class="input-field" placeholder="E-mail" formControlName="email"
        [ngClass]="{'invalid-input-field': registerForm.get('email')?.invalid && (registerForm.get('email')?.dirty || registerForm.get('email')?.touched || isSubmitted)}">
        <i class="fa fa-envelope"></i>
      </div>

      <div *ngIf="registerForm.get('email')?.hasError('email')">
        <div class="invalid-feedback">Email is not valid.</div>
      </div>
      <div class="input-box">
        <input type="password" class="input-field" placeholder="Mot de Passe" formControlName="password"
        [ngClass]="{'invalid-input-field': registerForm.get('password')?.invalid && (registerForm.get('password')?.dirty || registerForm.get('password')?.touched || isSubmitted)}">
        <i class="fa fa-unlock-alt"></i>
      </div>

      
      <div *ngIf="registerForm.hasError('strongPassword')">
       <div class="invalid-feedback">Password must be strong enough. </div> 
      </div>

      <div class="input-box">
        <input type="password" class="input-field" placeholder=" Confirmer Vore Mot de Passe" formControlName="checkPassword"
        [ngClass]="{'invalid-input-field': registerForm.get('checkPassword')?.invalid && (registerForm.get('checkPassword')?.dirty || registerForm.get('checkPassword')?.touched || isSubmitted)}">
        <i class="fa fa-unlock-alt"></i>
      </div>

      <div *ngIf="registerForm.hasError('passwordMismatch')">
        <div class="invalid-feedback">Passwords do not match.</div>
      </div>

      <div class="input-box">
        <select class="input-field" formControlName="role"
          [ngClass]="{'invalid-input-field': registerForm.get('role')?.invalid && (registerForm.get('role')?.dirty || registerForm.get('role')?.touched || isSubmitted)}">
          <option value="" disabled selected>Select Role</option>
          <option value="Admin">Admin</option>
          <option value="Agent">Agent</option>
        </select>
        <i class="fas fa-user-cog"></i>
      </div>
      <div *ngIf="registerForm.get('role')?.hasError('roleNotSet')">
        <div class="invalid-feedback">Choose Admin or Agent.</div>
      </div>
      
      <div class="input-box">
        <input type="submit" class="submit" value="S'inscrire">
      </div>
      
      <div class="two-col">
        <div class="one">
          <input type="checkbox" id="register-check">
          <label for="register-check"> Souviens-toi de moi </label>
        </div>
        <div class="two">
          <label><a href="#">Termes et conditions</a></label>
        </div>
      </div>
    </div>
  </div>
</form>
