<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'> -->

    <title>Login & Registration</title>    
</head>
<body>
    <div class="wrapper">
        <nav class="nav">
            <div class="nav-logo">
                <p> ANCFCC </p>
            </div>
            <div class="nav-button">
                <button routerLink="/login" class="btn white-btn" id="loginBtn" onclick="login()">Se Connecter</button>
                <button routerLink="/register" class="btn white-btn" id="registrationBtn" onclick="register()">S'inscrire</button>
            </div>
        </nav>
      <!-------------------Form box-------------------------->
      <div class="form-box">
<!----------registration from--------->
<form [formGroup]="registerForm" (ngSubmit)="onSubmitRegister()">
  <div class="register-container" id="register">
    <div class="top">
      <span>Avoir un compte? <a routerLink="/login" onclick="login()">Se Connecter</a></span>
      <header>S'inscrire</header>
    </div>

    <div class="two-forms">
      <div class="input-row">
        <div class="input-box">
          <input type="text" class="input-field" placeholder="Nom" formControlName="nom">
          <i class="fa fa-user"></i>
        </div>
        <div class="input-box">
          <input type="text" class="input-field" placeholder="Prénom" formControlName="prenom">
          <i class="fa fa-user"></i>
        </div>
      </div>
      <div class="input-box">
        <input type="text" class="input-field" placeholder="username" formControlName="username"
          [class.invalid]="registerForm.get('username')?.invalid && (registerForm.get('username')?.dirty || registerForm.get('username')?.touched || isSubmitted)" />
        <i class="fa fa-envelope"></i>
    </div>
    <div *ngIf="registerForm.get('username')?.invalid && (registerForm.get('username')?.dirty || registerForm.get('username')?.touched || isSubmitted)">
      <div class="invalid-feedback">Username is required and must be at least 6 characters long.</div>
    </div>

      <div class="input-box">
        <input type="email" class="input-field" placeholder="Adresse e-mail" formControlName="email"
        [class.invalid]="registerForm.get('email')?.invalid && (registerForm.get('email')?.dirty || registerForm.get('email')?.touched || isSubmitted)">
        <i class="fa fa-envelope"></i>
      </div>
      <div *ngIf="registerForm.get('email')?.invalid && (registerForm.get('email')?.dirty || registerForm.get('email')?.touched || isSubmitted)">
        <div class="invalid-feedback">Username is required and must be at least 6 characters long.</div>
      </div>

      <div class="input-box">
        <input type="password" class="input-field" placeholder="Mot de Passe" formControlName="password"
        [class.invalid]="registerForm.get('password')?.invalid && (registerForm.get('password')?.dirty || registerForm.get('password')?.touched || isSubmitted)">
        <i class="fa fa-unlock-alt"></i>
      </div>
      <div *ngIf="registerForm.get('password')?.invalid && (registerForm.get('password')?.dirty || registerForm.get('password')?.touched || isSubmitted)">
        <div class="invalid-feedback">Username is required and must be at least 6 characters long.</div>
      </div>
      <div class="input-box">
        <input type="password" class="input-field" placeholder=" répéte le Mot de Passe" formControlName="checkpassword"
        [class.invalid]="registerForm.get('password')?.invalid && (registerForm.get('password')?.dirty || registerForm.get('password')?.touched || isSubmitted)">
        <i class="fa fa-unlock-alt"></i>
      </div>
      <div *ngIf="registerForm.get('email')?.invalid && (registerForm.get('email')?.dirty || registerForm.get('email')?.touched || isSubmitted)">
        <div class="invalid-feedback">Username is required and must be at least 6 characters long.</div>
      </div>
      <div class="input-box">
        <input type="text" class="input-field" placeholder="Role" formControlName="role"
        [class.invalid]="registerForm.get('role')?.invalid && (registerForm.get('role')?.dirty || registerForm.get('role')?.touched || isSubmitted)">
        <i class="fa fa-unlock-alt"></i>
      </div>
      <div class="input-box">
        <input type="submit" class="submit" value="S'inscrire">
      </div>
      
      <div class="two-col">
        <div class="one">
          <input type="checkbox" id="register-check">
          <label for="register-check"> Souviens-toi de moi </label>
        </div>
        <div class="two">
          <label><a href="#">Termes et conditions</a></label>
        </div>
      </div>
    </div>
  </div>
</form>
